
:host{
    margin: 2rem 0; 
}
.tasks-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .94rem;
    background: hsl(235, 24%, 19%);
    border: 1px solid hsl(233, 14%, 35%);
    cursor: move;
}

.tasks-list-footer {
    display: flex;
    justify-content: space-between;
    background: hsl(235, 24%, 19%);
    border: 1px solid hsl(233, 14%, 35%);
    padding: 1rem;
   
}
.tasks-list-footer p {
    font-size: .8rem;
}

.tasks-list-footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.task {
    display: flex;
    align-items: center;
}
.task-description p {
    text-overflow: ellipsis;
    overflow: hidden;
}

.completed {
    text-decoration: line-through;
    color: hsl(233, 14%, 35%);
}

.circle-completed {
    background: linear-gradient(120deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);
    border: 1px solid hsl(192, 100%, 67%);
}

.tasks-list-footer ul li{
    margin-right: .5rem;
}
.tasks-list-footer ul li:hover{
    cursor: pointer;
}

h2 {
    margin: 3rem;
    text-align: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
.circle :hover {
    cursor: pointer;
  }


@media (max-width: 375px) {
   .tasks-list-footer {
    margin-top: 1rem;
   }
   .tasks-list-footer p, .circle + div {
    font-size: .7rem;
   }
   .circle + div{
    align-items: center;
   }
   .tasks-list-footer ul {
   display: none;
   }

   .tasks-list div:last-of-type img {
    height: 13px;
    margin: 0;
    padding: 0;
    display: block;
    border: none;
   }
    
}